<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.koreait.db.mapper.ClubMapper">
    <select id="selectUserWithClub" resultType="com.koreait.db.dto.UserClubDTO">
        SELECT
            U.name AS user_name, U.role,
            C.name AS club_name, C.room_no,
            joined_at
        FROM `user` U
                 LEFT OUTER JOIN `user_club` UC
                                 ON U.name = UC.user_name
                 LEFT OUTER JOIN `club` C
                                 ON C.name = UC.club_name
    </select>


    <insert id="insertClub">
        INSERT INTO `club` VALUES (#{name}, NULL, DEFAULT)
    </insert>
</mapper>






